target
server/.project
.project
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.m2e.core.prefs
server/.classpath
server/.settings/org.eclipse.core.resources.prefs
server/.settings/org.eclipse.jdt.core.prefs
server/.settings/org.eclipse.m2e.core.prefs
webapp/.classpath
webapp/.project
webapp/.settings/.jsdtscope
webapp/.settings/org.eclipse.core.resources.prefs
webapp/.settings/org.eclipse.jdt.core.prefs
webapp/.settings/org.eclipse.m2e.core.prefs
webapp/.settings/org.eclipse.wst.common.component
webapp/.settings/org.eclipse.wst.common.project.facet.core.xml
webapp/.settings/org.eclipse.wst.jsdt.ui.superType.container
webapp/.settings/org.eclipse.wst.jsdt.ui.superType.name
webapp/.settings/org.eclipse.wst.validation.prefs
